################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Event.cs
/Program.cs
/ConnectData.cs
/Event.cs
